
<div class="blog-post">
  <h2><%= link_to blog.title , blog %></h2>
  <p class="blog-post-meta"><%= distance_of_time_in_words(blog.created_at, Time.now) %> ago by  <a href="#">Mark</a></p>
 <% if logged_in?(:site_admin)  %>
     <p><%= link_to blog.status.capitalize(), toggle_status_blog_path(blog)  %> | 
    <%= link_to 'Edit', edit_blog_path(blog)  %> | 
    <%= link_to 'Delete post', blog, method: :delete, data: { confirm: 'Are you sure?' } %><p>
  <% end %>
  <p><%= blog.body %>


</div><!-- /.blog-post -->