  <div class="col-md-4">
    <div class="card mb-4 box-shadow">

    <%# <h2><%= link_to portfolio_item.title , portfolio_path(portfolio_item.id) </h2> %>
    <h2><%= link_to portfolio_item.title , portfolio_show_path(portfolio_item) %></h2>
    <%# <p><%= portfolio_item.title  %>
    <%= image_tag   portfolio_item.thumb_image if !portfolio_item.thumb_image.nil?  %>
    <div class="card-body">
      <p class="card-text"><%= portfolio_item.subtitle %></p>
      <p><%= portfolio_item.body %></p>
       <div class="btn-group">
          <%= link_to 'Edit', edit_portfolio_path(portfolio_item)  if logged_in?(:site_admin)  %> | 
          <%= link_to 'Delete', portfolio_item, method: :delete, data: {confirm: 'Are you sure ? ' }  if logged_in?(:site_admin)  %>
      </div>
    </div>
    </div>
  </div>

  <%# <div class="col-md-4">
    <div class="card mb-4 box-shadow">
      <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
          </div>
          <small class="text-muted">9 mins</small>
        </div>
      </div>
    </div>
  </div> %>