
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <%= image_tag @portfolio_item.main_image if !@portfolio_item.main_image.nil? %>
            </div>
            <div class="col-md-5">
                <h2><%= @portfolio_item.title %></h2>
                <p><%= @portfolio_item.subtitle %></p>
                <p><%= @portfolio_item.body %></p>

                <h5>Technologies used</h5>
                <% @portfolio_item.technologies.each do |t| %>
                <p><%= t.name %></p>
                <% end %>

                <%= link_to 'View all portfolio items', portfolios_path %>
            </div>
        </div>
    </div>